<li [ngClass]="{'list-group-item':true,
                'list-group-item-success':appareilStatus === 'allumé',
                'list-group-item-danger':appareilStatus==='éteint'}">
  
    <h4 [ngStyle]="{color:getColor()}">Id : {{id}} --Appareil :{{appareilName}} ---Status :{{ gitStatus() }}</h4>
        <button class="btn btn-success" (click)="onswitchOn()" [disabled]="appareilStatus === 'allumé'">allumer</button>
        <button class="btn btn-danger" (click)="onswitchOf()" [disabled]="appareilStatus === 'éteint'" >éteindre</button>
</li>