
        <div class="col-xs-12">
            <H2>Mes appareils</H2>
            <p>Mise à jour  : {{lasteDate|date:'yMMMEEEd'|uppercase}}</p>
            <p>Mise à jour  : {{lasteUpdate|async|date|uppercase}}</p>
            <ul class="list-group">
                <app-appareil  *ngFor="let appareil of appareils; let i =index"
                [indexOfappareil]="i"
                [id]="appareil.id"
                 [appareilName]="appareil.name" 
                 [appareilStatus]="appareil.status"></app-appareil>
            </ul>
         
            <button class="btn btn-success" (click)="onAllumer()" >Toutallumer</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" (click)="ofEteindre()">éteindre</button>
            
        </div>


